.charcontainer {
    width: 40vw;
    max-width: 1000px;
    min-width: 300px;
    height: 80vh;
    min-height: 780px;
  
    top: 10vh;
    left: 50vw;
    position: absolute;
  
    background-color: $clr_darkWhite;
  }

  .regcontainer {
    width: 25vw;
    max-width: 1000px;
    min-width: 300px;
    height: 60vh;
    min-height: 600px;
  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  
    background-color: $clr_darkWhite;
  }

  .servercontainer {
    width: 25vw;
    max-width: 1000px;
    min-width: 300px;
    height: 30vh;
    min-height: 300px;
  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  
    background-color: $clr_darkWhite;
  }

  .lobbycontainer {
    width: 70vw;
    max-width: 1700px;
    min-width: 1000px;
    height: 70vh;
    min-height: 700px;
  
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  
    background-color: $clr_darkWhite;
  }