.regcontainer {
  width: 20vw;
  max-width: 1000px;
  min-width: 300px;
  height: 60vh;
  min-height: 600px;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;

  background-color: $clr_darkWhite;
}