$clr_darkWhite: #F9F9F9;
$clr_lightRed: #FF4655;
$clr_lightBlack: #111111;
$clr_textBoxWhite: #E9E9E9;
$clr_darkBlue: #2F3349;
$clr_borderColor: #707070;
$clr_boxShadowColor: rgba(0, 0, 0, 0.16);

.container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }